* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: "Segoe UI", sans-serif;
    }

    body {
      background-color: #ffffff;
      color: #000000;
      line-height: 1.6;
    }
    
    nav {
      margin-left: auto; 
      display: flex;
    }
    
    nav a {
      background: #000000;
      padding: 10px 20px;
      border-radius: 24px;
      font-size: 16px;
      margin-left: 24px;
      text-decoration: none;
      color: #ffffff;
      transition: 0.3s;
    }

    nav a:hover {
      color: #b6b6b6;
    }
    
    .anime-header {
      background-color: #ffffff;
      padding: 1000 10%;
      display: flex;
      justify-content: flex-start;
      align-items: center;                 
      padding: 1px 24px;
      box-sizing: border-box;
      top: 0;
      left: 0;
      width: 100%;
      border: 2px solid #000000;
      position: fixed;       
      z-index: 10000;
      transition: transform 0.4s ease;
    }

    .anime-header.oculto {
      transform: translateY(-100%);
    }

    .anime-header.oculto:hover {
      transform: translateY(0);
      background: rgba(15, 15, 20, 1);
    }

    .text-logo{
      border: 2px solid #000000;
      padding: 8px 20px;
      font-family: 'Montserrat', sans-serif;
      color: #000000;
      border-radius: 25px;
      
    }
    .header-logo {
      height: 70px; 
      width: auto;  
      display: block;
    }

    .hero {
      padding: 100px 20px;
      min-height: 80vh; 
      text-align: center;
      background: linear-gradient(120deg, #000000, #000000);
      color: white;
    }

    .hero h2 {
      font-size: 2.5rem;
      margin-bottom: 20px;
    }

    .hero p {
      font-size: 1.2rem;
      margin-bottom: 30px;
    }

    .hero button {
      padding: 12px 24px;
      border: none;
      background: white;
      color: #000000;
      border-radius: 24px;
      cursor: pointer;
      font-weight: bold;
      transition: 0.3s;
    }

    .hero-logo {
      max-width: 300px;
      width: 100%; 
      height: auto; 
      margin-bottom: 40px;
    }
    
    .hero button:hover {
      background: #e9ecef;
    }

    section {
      padding: 80px 10%;
    }

    .services {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      gap: 30px;
    }

    .card {
      background: white;
      padding: 30px;
      border-radius: 12px;
      box-shadow: 0 4px 15px rgba(0,0,0,0.05);
      transition: 0.3s;
    }

    .card:hover {
      transform: translateY(-5px);
    }

    .card h3 {
      margin-bottom: 10px;
      color: #000000;
    }

    .destaque {
      color: #000000;
      font-weight: bold;
    }

    .about {
      max-width: 700px;
      margin: auto;
      background-color: #ffffff;
      padding: 40px;
      border-radius: 12px;
      box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    }

    .about p {
      font-size: 18px;
      line-height: 1.8;
      color: #000000;
      text-align: center;
    }

    .about h2 {
      line-height: 1.8;
      color: #000000;
      text-align: center;
    }
    .about img{
      width: 100%;
      height: auto;
      margin-top: 30px;
      border-radius: 12px;
    }

    .executive {
      max-width: 700px;
      margin: auto;
      background-color: #ffffff;
      padding: 40px;
      border-radius: 12px;
      box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    }
    
    .executive p {
      font-size: 18px;
      line-height: 1.8;
      color: #000000;
      text-align: justify;
    }

    .executive h2 {
      line-height: 1.8;
      color: #000000;
      text-align: center;
    }

    .executive img{
      width: 100%;
      height: auto;
      margin-top: 30px;
      border-radius: 12px;
    }

    #contact {
        display: flex;
        justify-content: center;
    }

    .contact {
        width: 100%;
        max-width: 32rem;
        margin: 0 auto;
        font-size: 1.125rem;
    }

    .contact label,
    .contact input,
    .contact textarea {
        display: block;
        width: 100%;
    }

    .contact h2 {
        text-align: center;
    }

    .contact input,
    .contact textarea {
        padding: 0.8rem;
        margin-bottom: 1rem;
    }

    .contact label {
        color: black;
        line-height: 1;
        margin-bottom: 0.5rem;
    }

    .contact textarea {
        min-height: 13rem;
        resize: none;
    }

    .contact button {
        padding: 12px 20px;
        border: none;
        background: #000000;
        color: white;
        border-radius: 20px;
        cursor: pointer;
    }

    footer {
        text-align: center;
        padding: 30px;
        background: #ffffff;
        margin-top: 50px;
        color: #777;
    }
    .pensador-card {
        display: flex;
        align-items: center;
        gap: 24px;

        background: #111;
        color: white;

        padding: 25px;

        margin: 30px 0;

        border-radius: 15px;

        box-shadow: 0 4px 15px rgba(0,0,0,0.3);

        transition: transform 0.3s, box-shadow 0.3s;
    }

    .pensador-card:hover {
        transform: translateY(-5px);

        box-shadow: 0 8px 20px rgba(0,0,0,0.5);
    }

    .pensador-card img {
        width: 180px;
        height: 180px;

        border-radius: 50%;

        object-fit: cover;

        border: 4px solid #ffffff;

        flex-shrink: 0;

        transition: 0.3s;
    }

    .pensador-card img:hover {
        transform: scale(1.05);
    }

    .pensador-info {
        flex: 1;
    }

    .pensador-info h2 {
        margin-bottom: 10px;

        font-size: 32px;

        color: #ffffff;
    }

    .pensador-info p {
        line-height: 1.8;

        font-size: 18px;

        color: #e0e0e0;
    }
